<p>
    Aqui vemos el detalle de un destino de viaje!
    <br>
    <!-- {{destino.id}} -->
    <br>
    <!-- {{destino.nombre}} -->
</p>
<hr>
<mgl-map
    [style]="style"
    [zoom]="[2]"
  >
  <mgl-marker [lngLat]="[-90.5654, 14.4468]">
      <div onclick="alert('Hola')"
        class="marker">

        Hola mundo
      </div>
      
  </mgl-marker>
  </mgl-map>